<div id='documentation'>

	<h1>Jep-Prep API</h1>

	<p>The Jep-Prep API provides open access to all Jeopardy questions and categories since 2000. All information is sourced from the good people at <a href="http://j-archive.com">J-Archive.</a></p>

	<h3>Access to the API</h3>
	<p>The Jep-Prep API is open. No key or authentication is required to gain access to the API. The API provides JSON endpoints for accessing information about clues and categories from Jeopardy history.</p>

	<h3>API Base URL</h3>
	<code>http://104.131.160.239/api</code>

	<h3>Categories by ID</h3>
	<p>Sample request</p>
	<code>http://104.131.160.239/api/categories/1214</code>

	<h3>Categories by Air Date</h3>
	<p>Sample request</p>
	<code>http://104.131.160.239/api/categories/by_airdate/2015-04-02</code>

	<h3>Categories By Season</h3>
	<p>Sample request</p>
	<code>http://104.131.160.239/api/categories/by_season/28</code>

	<h3>Clues by ID</h3>
	<p>Sample request</p>
	<code>http://104.131.160.239/api/clues/431</code>

	<h3>New Game</h3>
	<p>Sample request</p>
	<code>http://104.131.160.239/api/new_game</code>

</div>