<div class='buzz-light' style='display: none'></div>
<div class='question-holder'>{{{this.question}}}</div>
<div class='player-answer answer-holder' style='display: none'>
	<div class='answer'>What is {{{this.answer}}}?</div>
	<div class='solved-buttons'>
		<div class='correct'><div class='center'>Correct</div></div>
		<div class='incorrect'><div class='center'>Incorrect</div></div>
	</div>
</div>
<div class='computer-answer answer-holder' style='display: none'>
	<div class='answer'>What is {{{this.answer}}}?</div>
</div>