<div class='question-holder'>{{{this.question}}}</div>
<div class='answer-holder' style='display: none'>
	<div class='answer'>{{{this.answer}}}</div>
	<div class='solved-buttons'>
		<div class='correct'><div class='center'>Correct</div></div>
		<div class='incorrect'><div class='center'>Incorrect</div></div>
	</div>
</div>